/* color scheme:
 - Fonts: #000000; #ffffff;
 - Lines: #666666;
 - Forms: #f0f4f5
 - Buttons: #efc319;
 */

h1{
    font-size: 3.75em;
}

h2{
    font-size: 2.62em;
}

h3{
    font-size: 1.84em;
}

h4{
    font-size: 1.29em;
    margin: 0.8em 0;
}

.error-hide{
    color: red; /*change color*/
    display:none;
}

.error-show{
    color: red;
}

a.remember{
    color: blue;
}

/*all pages*/
body{
    width: 1220px;
    height: 100vh; /* See compatibility */
    margin: 0 auto;
    display: grid; /* See compatibility and uses on older browsers */
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased; /*See compatibility */
    color: #000000;
    grid-template-columns: [left] 3fr [middle-left] 1fr [middle-right] 3fr [right];
    grid-template-rows: [top] 1fr [header-end] 5fr [content-end] 1fr [footer-end];
}

/*all pages*/
body > header{
    height: 6.19em;
    grid-column: left / right;
    grid-row: top / header-end;
    display: flex; /* See compatibility and uses on older browsers */
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #666666;
}

/*all pages*/
header img{
    /*margin-right: auto;*/
    margin-left: 1.7em;
}

header select{
    font-size: 1.3em;
    border: none;
    background-color: transparent;
}

/*all pages*/
header a{
    color: #000000;
    font-size: 1.3em;
}

header .header-left{
    margin-right: 1.3em;
}

/*homepage*/
header a.try-it{
    background-color: #efc319;
    margin-left: 1.7em;
    padding: 0.625em;
    border-radius: 10px; /*See compatibility with older browsers*/
}

/*homepage*/
#app-promo{
    grid-column: left / middle-left;
    grid-row: header-end / content-end;
    margin-left: 1.7em;
    padding-top: 4.00em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

/*homepage*/
.promo-slogans{
   position: relative;
}

/*homepage*/
.promo-slogans > h1.hidden-slogan{
    position: absolute;
    display: flex;
    align-items: center;
    top:0;
    opacity:0;
}

/*homepage*/
.promo-slogans > h1{
    margin-bottom: 1.0em;
    opacity: 1;
}

/*homepage*/
#app-promo p{
    font-size: 1.6em;
}

/*homepage*/
.wrapper-divider{
    grid-column: middle-left / middle-right;
    grid-row: header-end / content-end;
    display: flex;
    flex: 1 1;
    align-self: stretch;
    justify-content: center;
}

/*homepage*/
.wrapper-divider .divider{
    width: 1px;
    background-color: #666666;
    margin: 4.5em 0 0.8em;
}

/*homepage*/
#sign-up{
    grid-column: middle-right / right;
    grid-row: header-end / content-end;
    margin-right: 1.7em;
    padding-top: 4.00em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

/*homepage*/
#sign-up form input[type=text], #sign-up form input[type=password]{
    width: 19em;
    margin-top: 1.6em;
    font-size: 1.3em;
    border: 1px solid #f4f0f5;
    color: #000000;
    background-color: #f4f0f5;
    border-radius: 5px; /* See compatibility with older browsers */
    padding:0.6em 0.6em;
}

/*homepage*/
#sign-up form input[type=submit]{
    width: 19em;
    margin-top: 1.6em;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid #f4f0f5;
    color: #ffffff;
    background-color: #efc319;
    border-radius: 5px; /* See compatibility with older browsers */
    padding:0.6em 0.6em;
}

/*homepage*/
.usercheck, .passcheck{
    color: green; /*change color*/
    font-size: 1.3em;
    display: none;
}

/*homepage*/
.usernotcheck, .passnotcheck{
    color: red; /*change color*/
    font-size: 1.3em;
    display: none;
}

/*homepage*/
.checkuser li{
    display: none;
    color: red; /*change color*/
    margin: 1em 0 0 2em;
}

/*homepage*/
.checkpassword{
    color: #666666;
    display: none;
}

/*homepage*/
.checkpassword ul > li{
    margin-left: 2em;
}

/*homepage*/
.checkpassword ul li > span{
    color: green; /*change color*/
    display: none;
}

/*LOG IN PAGE*/
#log-in{
    grid-column: left / right;
    grid-row: header-end / content-end;
    margin-right: 1.7em;
    padding-top: 4.00em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*LOG IN*/
#log-in form input[type=text], #log-in form input[type=password]{
    width: 19em;
    margin-top: 1.6em;
    font-size: 1.3em;
    border: 1px solid #f4f0f5;
    color: #000000;
    background-color: #f4f0f5;
    border-radius: 5px; /* See compatibility with older browsers */
    padding:0.6em 0.6em;
}

/*Log IN*/
#log-in form input[type=submit]{
    width: 19em;
    margin-top: 1.6em;
    font-size: 1.3em;
    font-weight: bold;
    border: 1px solid #f4f0f5;
    color: #ffffff;
    background-color: #efc319;
    border-radius: 5px; /* See compatibility with older browsers */
    padding:0.6em 0.6em;
}

/*no lists page*/
#nolists{
    grid-column: left / right;
    grid-row: header-end / content-end;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*no lists page*/
a.start{
    font-weight: 600;
    font-size: 2.75em;
    margin-top: 0.75em;
    color: #efc319;
}

/*all lists*/
#all-lists{
    grid-column: left / right;
    grid-row: header-end / content-end;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*all pages*/
header a.settings{
    font-size: 2.2em;
    margin-right: 1em; /*27px*/
    margin-left: 0.77em; /*35px*/
}

/*all pages*/
body > footer{
    grid-column: left / right;
    grid-row: content-end / footer-end;
}

/*all pages*/
footer{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*all pages*/
footer p{
    font-family: 'Montserrat Light', sans-serif;
    font-size: 1.1em;
}

/*all pages*/
footer select{
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
}

/*settings page*/
.wrapper-user-settings {
    grid-column: left / right;
    grid-row: header-end / content-end;
    z-index: 1;
}

#user-settings{
    width: 50em;
    margin: 0 auto;
    display: grid; /* See compatibility and uses on older browsers */
    grid-template-columns: [a] 4fr [b] 4fr [c];
    grid-template-rows: [d] 0.5fr [e] 4fr [f];
}

#user-settings h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    grid-column: a / c;
    grid-row: d / e;
}

#userDetails{
    grid-column: a / b;
    grid-row: e / f;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2em;
    text-align: right;
}

#userDetails .profilePicZone{
    order: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#userDetails .profilePicZone .dragBox{
    width: 198px;
    height: 198px;
    margin-right: 0.5em;
    border-width: 1px;
    border-style: dashed;
    border-color: darkgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#userDetails h5.user_name{
    order: 2;
    font-size: 1.3em;
    margin-top: 0.8em;
}

#userDetails .user_username{
    order: 3;
}

#userDetails p.user_description{
    order: 4;
    font-style: italic;
}

#userDetails .userMail{
    order: 5;
}

#userDetails .userPhone{
    order: 6;
}

#userDetails .userAddress{
    order: 7;
}

#userDetails p{
    margin-bottom: 0.8em;
}

#userDetails p.user_description:before, #userDetails p.user_description:after{
    content: "''";
}

#userDetails a{
    color: cadetblue;
}

#setDetails{
    grid-column: b / c;
    grid-row: e / f;
    margin-left: 2em;
}

#setDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#setDetails input[type=text], #setDetails input[type="password"]{
    border: 1px solid #f4f0f5;
    color: #000000;
    background-color: #f4f0f5;
    border-radius: 5px; /* See compatibility with older browsers */
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
}

#setDetails input:nth-child(2n){
    margin-bottom: 1em;
}

#setDetails #user_description{
    width: 100%;
    padding: 0.5em;
    border: 1px solid #f4f0f5;
    color: #000000;
    background-color: #f4f0f5;
    border-radius: 5px; /* See compatibility with older browsers */
    font-size: 1em;
    margin-bottom: 1em;
}

#setDetails button{
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #f4f0f5;
    color: #ffffff;
    background-color: #efc319;
    border-radius: 5px; /* See compatibility with older browsers */
    padding: 0.6em;
    margin-top: 1em;
}

.fa-check{
    color: green;
}

.fa-times{
    color: red;
}

.modal-messages{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modal-messages > div{
    width: 400px;
    position: relative;
    margin: 20% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.modal-messages > div h2 {
    text-align: center;
}